@use "../base/variables";

.footer {
  position: relative;
  padding: var(--1400) var(--1000);
  margin-top: 7rem; // to make space for the circled number
  display: grid;
  color: var(--white);
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(
      rgba($color: variables.$cyan-600, $alpha: 0.75),
      rgba($color: variables.$cyan-600, $alpha: 0.75)
    ),
    url(../../assets/desktop/image-footer.jpg);
  background-position: center 20%;
  background-size: cover;

  &__number {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__heading {
    grid-column: 1 / 2;
  }
}
