*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;
  --1400: 11.2rem;
  --1000: 8rem;
  --900: 7.2rem;
  --800: 6.4rem;
  --700: 5.6rem;
  --500: 4rem;
  --400: 3.2rem;
  --300: 2.4rem;
  --200: 1.6rem;
  --100: 0.8rem;
  --50: 0.4rem;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  letter-spacing: 0px;
  color: var(--slate-900);
  text-wrap: pretty;
}

h1,
.text-1 {
  font-size: 6.4rem;
  line-height: 110%;
}
@media (min-width: 56.25em) {
  h1,
  .text-1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 31.25em) {
  h1,
  .text-1 {
    font-size: 4rem;
  }
}

h2,
.text-2 {
  font-size: 4rem;
  line-height: 110%;
  font-weight: 900;
}
@media (min-width: 56.25em) {
  h2,
  .text-2 {
    font-size: 3.6rem;
  }
}
@media (max-width: 31.25em) {
  h2,
  .text-2 {
    font-size: 3.2rem;
  }
}

h3,
.text-3 {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 4px;
  color: var(--cyan-600);
  text-transform: uppercase;
}
@media (min-width: 56.25em) {
  h3,
  .text-3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 31.25em) {
  h3,
  .text-3 {
    font-size: 1.2rem;
  }
}

p,
.text-4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%;
}

.text-5 {
  font-size: 1.6rem;
  line-height: 150%;
}

.highlight--cyan {
  color: var(--cyan-300);
}

.highlight--purple {
  color: var(--purple-300);
}

@keyframes pulse {
  0% {
    transform: scale(1) translateX(-50%);
  }
  50% {
    transform: scale(1.25) translateX(-50%);
  }
  100% {
    transform: scale(1) translateX(-50%);
  }
}
button {
  border: none;
  border-radius: 2.9rem;
  padding: var(--200) var(--400);
  color: var(--white);
  white-space: nowrap;
  transition: all 0.3s;
}

.btn-blue {
  background-color: var(--cyan-600);
}
.btn-blue:hover {
  background-color: #71c0d4;
}

.btn-purple {
  background-color: var(--purple-600);
}
.btn-purple:hover {
  background-color: #b18bdd;
}

.number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--slate-600);
  z-index: 50;
}
.number:hover {
  animation: pulse 1.1s ease-in-out infinite;
}
.number::before {
  content: "";
  position: absolute;
  border: solid 1px var(--slate-300);
  border-radius: 100%;
  width: 5.6rem;
  height: 5.6rem;
  background-color: var(--white);
  z-index: -5;
}
.number:after {
  content: "";
  position: absolute;
  border: solid 0.8px var(--slate-300);
  height: 8rem;
  width: 0px;
  transform: translateY(-85%);
}

.nav {
  padding: var(--1000);
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 56.25em) {
  .nav {
    padding: var(--500) var(--1000);
    padding-bottom: 0;
  }
}
.hero {
  padding: var(--800) 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.hero__image--left {
  justify-self: start;
}
.hero__image--right {
  justify-self: end;
}
.hero__content {
  padding: 0 var(--400);
  display: flex;
  flex-direction: column;
  row-gap: var(--400);
  text-align: center;
}
.hero__content-text {
  color: var(--slate-600);
}
.hero__content-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 1.7rem;
  justify-content: center;
}

@media (max-width: 56.25em) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
  }
  .hero__image--left {
    grid-column: 1/-1;
    justify-self: center;
  }
  .hero__image--right {
    display: none;
  }
  .hero__content {
    max-width: 80%;
    justify-self: center;
    padding-top: var(--900);
    row-gap: var(--300);
    grid-row: 2;
    grid-column: 1/-1;
  }
}
@media (max-width: 31.25em) {
  .hero__image--left {
    max-width: 110%;
    width: 105%;
  }
  .hero__content {
    max-width: 100%;
  }
  .hero__content-buttons {
    flex-direction: column;
    row-gap: var(--200);
    align-items: center;
  }
}
.content {
  padding: var(--700) var(--1000) var(--900) var(--1000);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
}
.content__number-wrapper {
  position: relative;
  grid-column: 1/-1;
  padding-top: 7rem;
}
.content__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.content__text {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.content__text-subheading {
  padding-bottom: var(--200);
}
.content__text-heading {
  padding-bottom: var(--400);
}
.content__text-text {
  color: var(--slate-600);
}
.content__slideshow {
  padding: var(--800) 0;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
}
.content__slideshow > * {
  max-width: 100%;
  height: auto;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
}
.content__slideshow > *:hover {
  transform: scale(1.05);
  box-shadow: 0.5rem 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 56.25em) {
  .content {
    padding: var(--700) var(--400) var(--800) var(--400);
  }
  .content__text {
    grid-column: 1/-1;
    max-width: 90%;
    justify-self: center;
  }
}
@media (max-width: 31.25em) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .content__text {
    max-width: 100%;
  }
  .content__slideshow {
    row-gap: var(--200);
    column-gap: var(--200);
  }
}
.footer {
  position: relative;
  padding: var(--1400) var(--1000);
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--400);
  color: var(--white);
  background-image: linear-gradient(rgba(77, 150, 169, 0.75), rgba(77, 150, 169, 0.75)), url(../../assets/desktop/image-footer.jpg);
  background-position: center 20%;
  background-size: cover;
}
.footer > * {
  max-width: 30%;
}
.footer__number {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 56.25em) {
  .footer {
    padding: var(--800) var(--400);
    background-image: linear-gradient(rgba(77, 150, 169, 0.75), rgba(77, 150, 169, 0.75)), url(../../assets/tablet/image-footer.jpg);
    background-position: center 20%;
    background-size: cover;
    flex-flow: column;
    text-align: center;
  }
  .footer > * {
    max-width: 100%;
    margin-bottom: var(--300);
  }
}
@media (max-width: 31.25em) {
  .footer {
    background-image: linear-gradient(rgba(77, 150, 169, 0.75), rgba(77, 150, 169, 0.75)), url("../../assets/mobile/image-footer.jpg");
    background-position: center 0%;
    background-size: cover;
  }
}

/*# sourceMappingURL=style.css.map */
