*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;
  --1400: 11.2rem;
  --1000: 8rem;
  --900: 7.2rem;
  --800: 6.4rem;
  --700: 5.6rem;
  --500: 4rem;
  --400: 3.2rem;
  --300: 2.4rem;
  --200: 1.6rem;
  --100: 0.8rem;
  --50: 0.4rem;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  letter-spacing: 0px;
  color: var(--slate-900);
}

h1,
.text-1 {
  font-size: 6.4rem;
  line-height: 110%;
}

h2,
.text-2 {
  font-size: 4rem;
  line-height: 110%;
}

.text-3 {
  font-size: 1.6rem;
  line-height: 110%;
  letter-spacing: 4px;
  color: var(--cyan-600);
}

p,
.text-4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 110%;
}

.text-5 {
  font-size: 1.6rem;
  line-height: 150%;
}

.highlight--cyan {
  color: var(--cyan-300);
}

.highlight--purple {
  color: var(--purple-300);
}

button {
  border: none;
  border-radius: 2.9rem;
  padding: var(--200) var(--400);
  color: var(--white);
  white-space: nowrap;
}

.btn-blue {
  background-color: var(--cyan-600);
}
.btn-blue:hover {
  background-color: #71c0d4;
}

.btn-purple {
  background-color: var(--purple-600);
}
.btn-purple:hover {
  background-color: #b18bdd;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--slate-600);
  z-index: 50;
}
.number::before {
  content: "";
  position: absolute;
  border: solid 1px var(--slate-300);
  border-radius: 100%;
  width: 5.6rem;
  height: 5.6rem;
  background-color: var(--white);
  z-index: -5;
}
.number:after {
  content: "";
  position: absolute;
  border: solid 0.8px var(--slate-300);
  height: 8rem;
  width: 0px;
  transform: translateY(-85%);
}

.nav {
  padding: var(--1000);
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.hero {
  padding: var(--800) 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hero__content {
  padding: 0 var(--400);
  display: flex;
  flex-direction: column;
  row-gap: var(--400);
  text-align: center;
}
.hero__content-text {
  color: var(--slate-600);
}
.hero__content-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 1.7rem;
  justify-content: center;
}

.content {
  padding: var(--700) var(--1000) var(--900) var(--1000);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
}
.content__number {
  grid-column: 1/-1;
  padding-top: 7rem;
}
.content__text {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2/4;
  justify-items: center;
  text-align: center;
}
.content__text-subheading {
  grid-row: 1/2;
  grid-column: 1/-1;
  padding-bottom: var(--200);
}
.content__text-heading {
  grid-column: 1/-1;
  padding-bottom: var(--400);
}
.content__text-text {
  grid-column: 1/-1;
  color: var(--slate-600);
}
.content__slideshow {
  padding: var(--800) 0;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
}
.content__slideshow > * {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  height: auto;
}

.footer {
  position: relative;
  padding: var(--1400) var(--1000);
  margin-top: 7rem;
  display: grid;
  color: var(--white);
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(rgba(77, 150, 169, 0.75), rgba(77, 150, 169, 0.75)), url(../../assets/desktop/image-footer.jpg);
  background-position: center 20%;
  background-size: cover;
}
.footer__number {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
}
.footer__heading {
  grid-column: 1/2;
}

/*# sourceMappingURL=style.css.map */
